# Tailscale IPs:
# M1 (Jane):                100.x.x.1
# M2 (Mika - this laptop):  100.x.x.2
# M3 (Ryan):                100.x.x.3
VITE_INVENTORY_URL=http://100.x.x.1:5173
VITE_DASHBOARD_URL=http://100.x.x.3:8003
VITE_API_BASE_URL=
